## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

  <footer class="footer checkout-footer">
    <div class="w-container">
      <div class="social-wrapper">
        <a class="w-clearfix w-inline-block social-link" href="http://www.twitter.com" target="_blank">
          <img class="social-wrapper" src="${static.url('themes/stanford/images/CC_Twitter.png')}" width="32" alt="CC_Twitter.png">
        </a>
        <a class="w-clearfix w-inline-block social-link" href="http://#" target="_blank">
          <img class="social-wrapper" src="${static.url('themes/stanford/images/CC_Facebook.png')}" width="32" alt="CC_Facebook.png">
        </a>
        <a class="w-clearfix w-inline-block social-link" href="http://#" target="_blank">
          <img class="social-wrapper" src="${static.url('themes/stanford/images/CC_Google.png')}" width="32" alt="CC_Google.png">
        </a>
        <a class="w-clearfix w-inline-block social-link" href="http://www.twitter.com" target="_blank">
          <img class="social-wrapper" src="${static.url('themes/stanford/images/CC_Youtube.png')}" width="32" alt="CC_Youtube.png">
        </a>
        <a class="w-clearfix w-inline-block social-link" href="http://#" target="_blank">
          <img class="social-wrapper" src="${static.url('themes/stanford/images/CC_Tumblr.png')}" width="32" alt="CC_Tumblr.png">
        </a>
      </div>
    </div>
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-8">
          <div>
            <img class="bottom-logo" src="${static.url('themes/stanford/images/codecoalition-logo_200x27.png')}" alt="codecoalition-logo_200x27.png">
          </div>
          <div class="copy-div">
            <div class="copyright">© 2013 Code Coalition, Inc.</div>
          </div>
        </div>
        <div class="w-col w-col-4">
          <div class="w-clearfix">
            <h5>Code Coalition help and information:</h5>
          </div>
          <div class="w-clearfix"><a class="contactus-link" href="mailto:info@codecoalition.com">Contact us</a>
          </div>
        </div>
      </div>
    </div>
 </footer>


