## mako

<%namespace name='static' file='/static_content.html'/>

<link rel="stylesheet" type="text/css" href="${static.url('themes/stanford/css/webflow.css')}">

<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      alert("Warning: you are using an unsupported browser\nand may be unable to use some features.\n\nWe suggest you use either Mozilla Firefox or\nGoogle Chrome.");
    });
  </script>
<![endif]-->

<meta name="description" content="Code Coalition teaches programming and startup skills courses online. Go from absolute beginner to job ready, or even start your own tech company.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
<script>
  WebFont.load({
    google: {
      families: ["Lato:100,300,400,700,900"]
    }
  });
</script>
<link rel="icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/52398d43409d22083d000202/Code-Coalition-Logo_bug_white_74x74-02.png">
<link rel="apple-touch-icon" href="https://y7v4p6k4.ssl.hwcdn.net/52398d43409d22083d000202/Code-Coalition-Logo_bug_white_180x180-02.png">
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-43018433-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
